<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="myAspect" class="com.ilovestudy.common.aspect.MyAspect"></bean>

    <!--service是spring容器中的，所以要对service进行aop，配置应该在spring的配置文件中-->
    <aop:config proxy-target-class="true">
        <aop:aspect ref="myAspect">
            <aop:pointcut id="myPointCut" expression="execution(* com.ilovestudy.service.*.*(..))"></aop:pointcut>
            <aop:before method="beforeExecution" pointcut-ref="myPointCut"></aop:before>
        </aop:aspect>
    </aop:config>
</beans>